* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

/* ==================== BOTÃO ==================== */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.button img {
  width: 18px;
}

.button.primary {
  font-size: 12px;
  font-weight: 700;

  color: #4aa5a5;
  background-color: white;
  border: 1px solid #4aa5a5;
}

.button.secondary {
  font-size: 12px;
  font-weight: 700;

  color: white;
  background-color: #4aa5a5;
  border: 1px solid #4aa5a5;
}

/* ==================== SEÇÕES ==================== */

.section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 60px 0;
}

.section.painted {
  background: rgba(214, 251, 248, 0.2);
}

@media screen and (max-width: 840px) {
  .section {
    padding: 40px 0;
  }
}

.section_wrapper {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
}

.section_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.section_header h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;

  color: #4aa5a5;
}

.section_header p {
  font-size: 15px;
  font-weight: 500;
  text-align: center;

  color: rgba(0, 0, 0, 0.6);
}

.section_content {
  margin-top: 30px;
}
